<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title"> Currencies </h3>
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <%= link_to get_current_rates_currencies_path do %>
            <button>
              <%= "Get Current Currencies" %>
            </button>
          <% end %>
          <%= link_to currency_pairs_path do %>
            <button class="purple">
              <%= "Pair Currency" %>
            </button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="portlet box blue-ebonyclay">
        <div class="portlet-body">
          <div class="table-toolbar">
          </div>
          <div class="table-scrollable">
            <div class="table-responsive">
              <table class="table table-hover stripe hover row-border order-column">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Iso</th>
                  <th>Rate</th>
                  <th>Rate date</th>
                </tr>
                </thead>
                <tbody>
                  <% @currencies.each do |currency| %>
                    <tr>
                      <td><%= currency.name %></td>
                      <td><%= currency.iso %></td>
                      <td><%= currency.rate.round(3) %></td>
                      <td><%= currency.rate_date.strftime('%d/%m/%Y') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
